# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
.env

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store

# Streamlit
.streamlit/secrets.toml
.streamlit/config.toml

# Local databases & Sensitive info
*.db
chat_history.db
users.json
logs/
*.jsonl
