streamlit
pandas
loguru
google-generativeai
google-auth
google-auth-oauthlib
openai
anthropic
together
Pillow
PyPDF2
SpeechRecognition
gTTS
moviepy
duckduckgo-search
beautifulsoup4
requests
aiohttp
tenacity
